body{
    background-color: blanchedalmond;
    margin: 0px;
}
p{
    background-color: brown;
}
.A{
    background-color: rgb(67, 93, 238);
    width: 5PX;
    height: 5px;
    margin: 2PX;
}
.B{
    background-color: blueviolet;
    width: 10PX;
    height: 10px;
    margin: 2px;
}
.C{
    background-color: cadetblue;
    width: 15px;
    height: 15PX;
    margin: 2px;
}
.C{
    background-color: chocolate;
    width: 20px;
    height: 20px;
    margin: 2px;
}
.D{
    background-color: blueviolet;
    width: 25PX;
    height: 25px;
    margin: 2px;
}
.E{
    background-color: blue;
    width: 30px;
    height: 30px;
    margin: 2px;
}
.F{
    background-color: cornflowerblue;
    width: 35px;
    height: 35px;
    margin: 2px;
}
.G{
    background-color: chocolate;
    width: 40px;
    height: 40px;
    margin: 2px;
}
.H{
    background-color: cornflowerblue;
    width: 45px;
    height: 45PX;
    margin: 2px;
}
.I{
  background-color: blueviolet;
  width: 50px;
    height: 50px;
    margin: 2px;
}
.J{
    background-color: darkgreen;
    width: 55px;
    height: 55px;
    margin: 2px;
}
.K{
background-color: brown;
width: 60px;
height: 60px;
margin: 2px;
}
.L{
    background-color: aqua;
width: 65px;
height: 65px;
margin: 2px;
}
.K{
    background-color: brown;
    width: 70px;
    height: 70px;
    margin: 2px;
}
.L{
    background-color: crimson;
    width: 75px;
    height: 75px;
    margin: 2px;
}
.M{
    background-color: blueviolet;
    width: 80px;
    height: 80px;
    margin: 2px;
}
.N{
    background-color: cyan;
    width: 85px;
    height: 85px;
    margin: 2px;
}
.O{
    background-color: darkcyan;
    width: 90px;
    height: 90px;
    margin: 2px;
}
.P{
    background-color: cadetblue;
    width: 95px;
    height: 95px;
    margin: 2px;
}
.Q{
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    margin: 2px;
}
.R{
    background-color: darkblue;
    width: 105px;
    height: 105px;
    margin: 2px;
}
.S{
    background-color: darkgray;
    width: 110px;
    height: 110px;
    margin: 2px;
}
.T{
    background-color: darkmagenta;
    width: 115px;
    height: 115px;
    margin: 2px;
}
.U{
    background-color: aquamarine;
    width: 120px;
height: 120px;
margin: 2px;
}
.V{
 background-color: blue;
 width: 125px;
 height: 125px;
 margin: 2px;
}
.W{
    background-color: chartreuse;
    width: 130px;
 height: 130px;
 margin: 2px;
}
.X{
    background-color: chocolate;
    width: 135px;
    height: 135px;
    margin: 2px;
}
.Y{
    background-color: brown;
    width: 140px;
    height: 140px;
    margin: 2px;
}
.Z{
    background-color: cyan;
    width: 145px;
    height: 145px;
    margin: 2px;
} 
.Ñ{background-color: darkgray;
    width: 150px;
    height: 150px;
    margin: 2px;
}
.Jk{
    background-color: darkturquoise;
    width: 155px;
    height: 155px;
    margin: 2px;
}
.AB{
    background-color: cornflowerblue;
    width: 160px;
    height: 160px;
    margin: 2px;
}
.AC{
    background-color: darkkhaki;
    width: 165px;
    height: 165px;
    margin: 2px; 
}
.AD{
    background-color: darkorange;
    width: 170px;
    height: 170px;
    margin: 2px; 
}
.AE{
    background-color: darkslateblue;
    width: 175px;
    height: 175px;
    margin: 2px;
}
.AF{
    background-color: brown;
    width: 180px;
    height: 180px;
    margin: 2px;
}
.AG{
    background-color: crimson;
    width: 185px;
    height: 185px;
    margin: 2px;
}
.AH{
    background-color: darkmagenta;
    width: 190px;
    height: 190px;
    margin: 2px;
}
.AI{
    background-color: blueviolet;
    width: 195px;
    height: 195px;
    margin: 2px;
}
.AJ{
    background-color: darkgreen;
    width: 200px;
    height: 200px;
    margin: 2px;
}
.AK{
    background-color: darkslateblue;
    width: 205px;
    height: 205px;
    margin: 2px;
}