body{background-color: rgb(191, 245, 245);
    text-align: center;
}
h2{
    color: rgb(76, 64, 233);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
label{
    color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}
.BIENVENISOS{
    color: rgb(111, 6, 248);
}
h2{
    color: rgb(231, 3, 231);
}
h1{
    color: darkmagenta;
}