*{background-color: rgb(196, 248, 248);
text-align: center;
}
h2{
    color: rgb(71, 104, 250);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Bienvienidos{
    color: rgb(255, 20, 20);
}
h2{
    color: deeppink;
}
h1{
    color: darkmagenta;
}