body{background-color: rgb(184, 238, 238);
    text-align: center;
}
h2{
  color: rgb(70, 70, 245);  
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
color: rgb(197, 20, 220);
}
.Bienvinidos{
  color: rgb(0, 240, 92);
}
h1{
  color: darkorchid;
}